.file-label {
  width: 100%;
  height: 45px;
  background-color: #ea1e623f;
  // background-color: #1976d227;
  border: 1px solid #ea1e63;
  // border: 1px solid #1976d2;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  resize: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ea1e63;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.error {
  color: red;
  font-size: 14px;
  padding: 5px 0;
}

.file-list {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  li {
    list-style: none;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-color: #fff;
    position: relative;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    button {
      position: absolute;
      top: 2px;
      right: 1px;
      width: 20px !important;
      height: 20px !important;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
    }
  }
}

#t {
  color: #ea1e63;
  font-size: 15px;
  margin: 3px 0;
  display: block;
}

@media screen and (max-width: 500px) {
  .file-label.tav {
    height: 65px;

    &.active {
      height: 45px;

      p {
        &#desk {
          -webkit-line-clamp: 1;
        }
      }
    }
    p {
      &#desk {
        -webkit-line-clamp: 2;
      }
    }
  }
}
