.all-users {
  padding: 0 20px 10px;
  padding-top: 140px;
  max-width: 1600px;
  margin: 0 auto;

  h2 {
    text-align: center;
    color: #ea1e63;
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #ea1e63;
      border-radius: 5px;
      border: 2px solid transparent;
      padding: 6px 15px;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
      
      &:hover {
        background-color: transparent;
        border-color: #ea1e63;
        color: #ea1e63;
      }
    }
  }

  .users-inner {
    color: #ea1e63;
    margin-top: 20px;
    table {
      width: 100%;
      border-collapse: collapse;
      thead {
        tr {
          th {
            border: 1px solid #ea1e63;
            padding: 5px;
          }
        }
      }

      tbody {
        tr {
          &:hover, &.active {
            background-color: #ea1e6267;
          }
          td {
            text-align: center;
            border: 1px solid #ea1e63;

            a {
              padding: 5px;
              color: #ea1e63;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            label {
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            input[type="checkbox"] {
              cursor: pointer;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
