#success {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 180px;
    padding-bottom: 30px;
    flex-direction: column;

    .card {
        overflow: hidden;
        width: 600px;
        height: 500px;
        border-radius: 10px;
        
        .top {
            background-color: #ea1e63;
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 10px;

            img {
                width: 120px;
            }

            p {
                color: #fff;
                font-size: 22px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        .bottom {
            width: 100%;
            height: 50%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;

            p {
                width: 80%;
                text-align: center;
            }

            a {
                color: #fff;
                background-color: #ea1e63;
                padding: 7px 15px;
                border-radius: 5px;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }

    .contact {
        position: relative;
        width: 600px;
        margin-top: 20px;

        h2 {
            color: #ea1e63;
            text-align: center;
        }

        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 6px;
          margin-top: 10px;
          li {
            a {
              display: flex;
              align-items: center;
              gap: 5px;
              color: #ea1e63;
              border-radius: 5px;
              padding: 5px 10px;
  
              &:hover {
                background-color: #ea1e6246;
                color: #fff;
              }
  
              @keyframes gradientAnimation {
                0% {
                  background-position: 0% 50%;
                }
                50% {
                  background-position: 100% 50%;
                }
                100% {
                  background-position: 0% 50%;
                }
              }
  
              img {
                width: 40px;
              }
            }
          }
        }
      }
}

@media screen and (max-width: 500px) {
    #success {
        .card {
            width: 90%;
            height: 400px;

            .top {
                img {
                    width: 100px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        .contact {
            width: 90%;
            margin: 15px auto 0;
            
            ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}