#images {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  min-height: 77vh;
  // position: absolute;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 15px;
  padding: 0 30px;
  flex-direction: column;
  margin-top: 20px;

  &.active {
    opacity: 0;
    transform: translateX(-70px);
    position: absolute;
    z-index: -999;
  }

  .modal {
    position: fixed;
    background-color: #00000036;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -9999;
    opacity: 0;

    &.active {
      cursor: url(../o/close-outline.svg), auto;
      z-index: 99999999;
      opacity: 1;
    }

    .modal-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 90vh;
      position: fixed;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor: url(../o/close-outline.svg), auto;
        opacity: 0;
        transform: unset !important;
        border-color: #ea1e63;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .image {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    width: 47%;
  }

  .df {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
  }

  .texts {
    width: 45%;
    // text-align: center;

    h1,
    h2,
    p {
      text-align: center;
    }

    p {
      margin-top: 10px;
    }

    h1 {
      font-size: 24px;
    }

    p {
      font-weight: 600;
      font-size: 22px !important;
      color: #ea1e63;
    }

    button {
      padding: 0 15px;
      height: 43px;
      cursor: pointer;
      font-size: 15px;
      border-radius: 10px;
      border: none;
      background-color: #ea1e63;
      // background-color: #1976d2;
      color: #fff;
      display: flex;
      align-items: center;
      margin: 50px auto 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  img {
    position: absolute;
    width: 200px;
    height: 200px;
    // opacity: 0.6;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    border: 10px solid #ea1e62bb;

    &:hover {
      z-index: 4 !important;
      transform: scale(1.2) rotate(0) translate(var(--x), var(--y)) !important;
    }

    &:nth-child(1) {
      --x: 30px;
      --y: 50px;
      transform: translate(var(--x), var(--y)) rotate(15deg);
      z-index: 3;
    }
    &:nth-child(2) {
      --x: 30px;
      --y: 80px;
      transform: translate(var(--x), var(--y)) rotate(-20deg);
      z-index: 2;
    }
    &:nth-child(3) {
      --x: -10px;
      --y: 110px;
      transform: translate(var(--x), var(--y)) rotate(20deg);
      z-index: 2;
    }
    &:nth-child(4) {
      --x: 200px;
      --y: 40px;
      transform: translate(var(--x), var(--y)) rotate(25deg);
      z-index: 2;
    }
    // &:nth-child(5) {
    //   --x: 230px;
    //   --y: -20px;
    //   transform: translate(var(--x), var(--y)) rotate(0);
    //   z-index: 3;
    // }
  }
}

@media screen and (min-width: 1517px) {
  #images {
    #title {
      position: relative;
      top: -40px;
    }

    .texts {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }

      button {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #images {
    .df {
      flex-direction: column;
      row-gap: 80px;

      .image {
        width: 100%;
        margin-top: -20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img {
          width: 120px;
          height: 120px;
  
          &:hover {
            z-index: 5 !important;
            transform: scale(1.2) rotate(0) translate(var(--x), var(--y)) !important;
          }
  
          &:nth-child(1) {
            --x: 0px;
            --y: 50px;
            z-index: 5;
          }
          &:nth-child(2) {
            --x: 0px;
            --y: 80px;
            z-index: 4;
          }
          &:nth-child(3) {
            --x: -10px;
            --y: 80px;
            z-index: 4;
          }
          &:nth-child(4) {
            --x: 90px;
            --y: 40px;
            z-index: 2;
          }
        }
      }

      .texts {
        width: 100%;
        
        button {
          margin: 30px auto 0;
        }
      }
    }
  }

  .modal {

    .modal-content {
      width: 90% !important;
      height: 50vh !important;
    }
  }
}
