
#images {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  min-height: 77vh;
  // position: absolute;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 15px;
  padding: 0 30px;
  flex-direction: column;
  margin-top: 20px;

  &.active {
    opacity: 0;
    transform: translateX(-70px);
    position: absolute;
    z-index: -999;
  }

  .modal {
    position: fixed;
    background-color: #00000036;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -9999;
    opacity: 0;

    &.active {
      cursor: url(../o/close-outline.svg), auto;
      z-index: 10;
      opacity: 1;
    }

    .modal-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 90vh;
      position: fixed;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor: url(../o/close-outline.svg), auto;
        opacity: 0;
        transform: unset !important;
        border-color: #ea1e63;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .image {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    width: 47%;
  }

  .df {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
  }

  .texts {
    width: 45%;
    overflow: hidden;
    // text-align: center;

    h1,
    h2,
    p {
      text-align: center;
    }

    p {
      margin-top: 10px;
    }

    h1 {
      font-size: 24px;
    }

    p {
      font-weight: 600;
      font-size: 22px !important;
      color: #ea1e63;
    }

    button {
      padding: 0 15px;
      height: 43px;
      cursor: pointer;
      font-size: 15px;
      border-radius: 10px;
      border: none;
      background-color: #ea1e63;
      // background-color: #1976d2;
      color: #fff;
      display: flex;
      align-items: center;
      margin: 50px auto 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .qal {
    width: 200px;
    position: absolute;

    &.qal1 {
      top: -20px;
      left: 100px;
      transform: rotate(-40deg);
    }

    &.qal2 {
      right: 60px;
      top: 70px;
      transform: rotate(135deg);
    }
  }

  .qosh {
    animation: rot 3s infinite;
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 45%;
    bottom: 20%;
    transform: rotate(45deg);

    .qal3 {
      width: 180px;
      transform: rotate(90deg);
      // top: 10px;
      position: relative;
      right: 50px;
      top: 10px;
    }

    // @keyframes rot {
    //     100% {
    //       transform: rotate(360deg);
    //     }
    // }
  }
  .qal4 {
    left: 40px;
    width: 200px;
    bottom: 80px;
    // left: -90px;
    position: absolute;
    transform: rotate(-40deg);
    rotate: -1;
  }

  .ran-img {
    position: absolute;
    width: 200px;
    height: 200px;
    // opacity: 0.6;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    border: 10px solid #ea1e62bb;

    &:hover,
    &.hovered {
      z-index: 4 !important;
      transform: scale(1.2) rotate(0) translate(var(--x), var(--y)) !important;
    }

    &:nth-child(1) {
      --x: 30px;
      --y: 50px;
      transform: translate(var(--x), var(--y)) rotate(15deg);
      z-index: 3;
    }
    &:nth-child(2) {
      --x: 30px;
      --y: 80px;
      transform: translate(var(--x), var(--y)) rotate(-20deg);
      z-index: 2;
    }
    &:nth-child(3) {
      --x: -10px;
      --y: 110px;
      transform: translate(var(--x), var(--y)) rotate(20deg);
      z-index: 2;
    }
    &:nth-child(4) {
      --x: 200px;
      --y: 40px;
      transform: translate(var(--x), var(--y)) rotate(25deg);
      z-index: 2;
    }
  }
}
.sec {
  display: flex;
  justify-content: center; // markazga joylashadi
  margin-top: 20px;
  list-style: none;
  padding: 0;

  li {
    display: flex;
  }
}

.telegram-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #ffe4e9; // pastel pushti fon
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  color: #e91e63; // pushti matn
  font-weight: 500;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &:hover {
    background-color: #ffd6e0;
  }
}


.text-typing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    position: relative;
  }

  span {
    position: relative;
    overflow: hidden;
  }

  .line {
    position: absolute;
    left: 0;
    height: 100%;
    background: #fedfe4;
    border-left: 1px solid #ea1e63;
    animation: typing 7s steps(50) infinite alternate;
    width: 100%;
  }

  @keyframes typing {
    0% {
      left: 0;
    }

    45%,
    50%,
    55% {
      left: 100%;
      // margin: 0 -35px 0 35px;
    }

    100% {
      left: 0;
    }
  }
}

@media screen and (min-width: 1517px) {
  #images {
    #title {
      position: relative;
      top: -40px;
    }

    .qal {
      &.qal1 {
        top: -20px;
        left: 100px;
        transform: rotate(-45deg);
      }

      &.qal2 {
        right: 130px;
        top: 20px;
        transform: rotate(135deg);
      }
    }

    .qosh {
      bottom: -6%;
      left: 50%;
    }

    
    .texts {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }
      
      button {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  #images {
    .qal4 {
      width: 150px !important;
    }
    .qosh {
      left: 37%;
      bottom: -25%;
      
      .qal3,
      .qal4 {
        transform: rotate(90deg);
        width: 150px !important;
      }

      .qal3 {
        top: -90px;
        right: -30px;
      }
    }
    .qal {
      bottom: 10%;
      &.qal1 {
        width: 150px;
        top: -50px;
        left: 150px;
        transform: rotate(-45deg);
      }
      
      &.qal2 {
        width: 150px;
        right: 150px;
        top: 0px;
        transform: rotate(135deg);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #images {

    .qal1 {
      width: 100px !important;
      top: -20px !important;
      left: 5px !important;
      z-index: -1;
    }
    
    .qal2 {
      width: 100px !important;
      top: 40px !important;
      right: 10px !important;
      z-index: -1;
    }
    
    .qosh {
      bottom: 15%;
      left: 49%;
      z-index: -1;
      width: unset;
      height: unset;
      
      .qal3 {
        width: 100px !important;
      }
    }
    
    .qal4 {
      width: 100px !important;
      bottom: 6%;
      left: -5px;
      
    }

    .df {
      flex-direction: column;
      row-gap: 80px;

      .image {
        width: 100%;
        margin-top: -20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img {
          width: 120px;
          height: 120px;

          &:hover {
            z-index: 5 !important;
            transform: scale(1.2) rotate(0) translate(var(--x), var(--y)) !important;
          }

          &:nth-child(1) {
            --x: 0px;
            --y: 50px;
            z-index: 5;
          }
          &:nth-child(2) {
            --x: 0px;
            --y: 80px;
            z-index: 4;
          }
          &:nth-child(3) {
            --x: -10px;
            --y: 80px;
            z-index: 4;
          }
          &:nth-child(4) {
            --x: 90px;
            --y: 40px;
            z-index: 2;
          }
        }
      }

      .texts {
        width: 100%;

        .text-typing {
          .line {
            display: none;
          }
        }

        button {
          margin: 30px auto 0;
        }
      }
    }
  }

  .modal {
    .modal-content {
      width: 90% !important;
      height: 50vh !important;
    }
  }
}
